body {
  	display: block;
  	margin: 0px;
  	min-width: 320px;
}

@font-face {
    font-family: "Roboto Regular"; 
    src: url(../fonts/Roboto-Regular.ttf);
}

@font-face {
    font-family: "Roboto Medium"; 
    src: url(../fonts/Roboto-Medium.ttf);
}

@font-face {
    font-family: "Roboto Bold"; 
    src: url(../fonts/Roboto-Bold.ttf);
}

body {
  	overflow-x: hidden;
  	min-width: 320px;
  	width: 100%;
  	height: 100%;
  	color: #000;
  	font-size: 12px;
  	font-family: 'Arial',sans-serif;
  	padding: 0;
  	margin: 0;
  	background: #f6f6f6;
  	-webkit-tap-highlight-color: transparent;
}

.page {
  	position: relative;
  	z-index: 1;
  	font-family: Roboto, sans-serif;
  	font-size: 14px;
  	-webkit-font-smoothing: antialiased;
  	text-rendering: optimizeLegibility;
  	-moz-osx-font-smoothing: grayscale;
  	-moz-font-feature-settings: liga, kern;
  	background: #fff;
  	color: #333333;
  	min-width: 320px;
  	height: 100vh;
}

.page {
	box-sizing: border-box;
}

.page__content {
  	padding: 16px 0;
}

.container {
  	display: block;
    width: 1400px;
  	margin: 0 auto;
  	padding: 0 20px;
  	max-width: 100%;
  	box-sizing: border-box;
}

.container__content {
    position: relative;
    z-index: 999;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 0 0 100px;
}

.container__content {
    padding-bottom: 10px !important;
}

.h1-title {
    font-size: 18px;
    line-height: 21px;
    text-transform: uppercase;
    padding: 0;
    margin: 0 0 17px;
    width: 100%;
}

.nalog {
	width: 100%;
}

.nalog-top-section {
    background-color: #f3f6f8;
    padding: 70px 50px;
    background-image: url(../images/house_.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right center;
    margin-bottom: 50px;
}

.nalog_row {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.nalog_row_content {
	max-width: 60%;
}

.nalog_row_content-title {
	font-family: "Roboto Regular";
	text-transform: uppercase;
	color: #000000;
    font-size: 42px;
    font-weight: 700;
    margin: 20px 0 50px;
    display: flex;
    flex-wrap: wrap;
    letter-spacing: 1px;
    line-height: 130%;
}

.nalog_row_content-text {
	font-family: "Roboto Regular";
	color: #1B1717;
    font-size: 20px;
    font-weight: 400;
    line-height: 140%;
    text-indent: 0;
    padding: 0;
    margin: 0 0 20px;
    width: 60%;
}

.sum {
	color: #F44336;
	margin: 0;
	font-family: "Roboto Bold";
}

.nalog-explan {
	background-color: #F2F5F7;
	margin: 0 20px 120px;
	border-radius: 10px;
}

.nalog-explan-block {
	padding: 80px 0;
}

.nalog-explan_text {
	font-family: "Roboto Regular";
	color: #000000;
    font-size: 20px;
    font-weight: 400;
    line-height: 150%;
    letter-spacing: 1px;
    margin: 0 25%;
}

strong {
	color: #F44336;
	font-weight: 700;
}

.icon_top {
	z-index: 3;
	position: absolute;
    right: 10%;
    top: 760px;
	width: 150px;
}

.nalog-advantages {
	padding: 0 50px;
    margin-bottom: 80px;
}

.nalog-section_title {
	font-family: "Roboto Regular";
	color: #000000;
    font-size: 28px;
    font-weight: 400;
    display: flex;
    flex-wrap: wrap;
    letter-spacing: 1px;
    line-height: 130%;
    width: 40%;
    margin-bottom: 50px;
}

.text_ex {
	color: #F44336;
	margin: 0;
}

.nalog-advantages_categories {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.nalog-advantages__category {
	display: flex;
	flex-wrap: nowrap;
	width: 45%;
	margin-bottom: 40px;
}

.nalog-advantages__category-icon {
	margin-right: 40px;
}

.nalog-advantages__category-inform-name {
	font-family: "Roboto Regular";
	color: #000000;
    font-size: 24px;
    font-weight: 700;
    letter-spacing: 1px;
    line-height: 150%;
    margin: 0 0 20px;
}

.nalog-advantages__category-inform-text {
	font-family: "Roboto Regular";
	color: #000000;
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 1px;
    line-height: 140%;
    margin: 0;
}

.nalog-score {
	padding-left: 50px;
	display: flex;
	flex-wrap: nowrap;
	margin-bottom: 120px;

    position: relative;
    overflow: hidden;
}

.nalog-score_items {
	display: flex;
	flex-direction: column;
	margin-right: 30px;
}

.nalog-score_item {
	background-color: #F44336;
    padding: 30px 80px 40px 35px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right center;
    margin-bottom: 20px;
    width: 430px;
    border-radius: 10px 10px 50px 0;
    -webkit-border-radius: 10px 10px 50px 0;
    -moz-border-radius: 10px 10px 50px 0;

}

.nalog-score_item_summ {
	font-family: "Roboto Regular";
	color: #ffffff;
    font-size: 40px;
    font-weight: 700;
    letter-spacing: 1px;
    line-height: 150%;
    margin: 0 0 30px;
}

.nalog-score_item_text {
	font-family: "Roboto Regular";
	color: #ffffff;
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 1px;
    line-height: 140%;
    margin: 0;
}

.nalog-score_item:nth-child(2) {
	background-color: #0070C9;
    padding: 30px 80px 40px 35px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right center;
    margin-bottom: 0;
    width: 430px;
    border-radius: 50px 10px 10px 0;
    -webkit-border-radius: 50px 10px 10px 0;
    -moz-border-radius: 50px 10px 10px 0;
}

.nalog-score_img {
	position: relative;
}

.nalog-actions-section {
	background-color: #F2F5F7;
	margin: 0 20px 120px;
	border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
}

.nalog-actions-section_block {
	padding: 80px 0;
	display: flex;
	flex-wrap: nowrap;
}

.nalog-actions_title {
	font-family: "Roboto Regular";
	color: #000000;
    font-size: 28px;
    font-weight: 400;
    letter-spacing: 1px;
    line-height: 130%;
    width: 40%;
    margin: 0 5% 0 30px;
}

.nalog-actions {
	display: flex;
	flex-direction: column;
	margin-right: 5%;
	width: 50%;
}

.nalog-actions_part  {
	display: flex;
	flex-wrap: nowrap;
}

.nalog-actions_part-text {
	font-family: "Roboto Regular";
	color: #000000;
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 1px;
    line-height: 150%;
    margin: 0 0 0 18px;
}

.icon_down {
	z-index: 3;
	position: absolute;
	right: 80%;
	top: 2270px;
	width: 150px;
}

.nalog-question-section {
	padding: 0 50px;
    margin-bottom: 100px;
}

.nalog-question_title {
	font-family: "Roboto Regular";
	color: #000000;
    font-size: 28px;
    font-weight: 400;
    letter-spacing: 1px;
    line-height: 130%;
    width: 35%;
    margin-bottom: 50px;
}

.nalog-question_blocks {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.nalog-question_block {
	display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 48%;
}

.nalog-question_block:nth-child(2) {
    margin-right: 0;
}

.nalog-question_article {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    border: 2px solid;
    border-color: #034899;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    margin-bottom: 20px;
}

.nalog-question-number {
	font-family: "Roboto Regular";
	color: #000000;
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 1px;
    line-height: 150%;
    margin-right: 15px;
    margin-left: 10px;
}

.nalog-question-text {
	font-family: "Roboto Regular";
	color: #000000;
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 1px;
    line-height: 150%;
    position: relative;
    width: 80%;
    margin-right: 2%;
    margin-top: auto;
    margin-bottom: auto;
}

.hide {
    display: none; 
}

.hide + .button_hidden_down ~ .nalog-question-text-hidden{
    display: none;
}

.hide + .button_hidden_down {
    padding: 0;
    cursor: pointer;
    display: inline-block; 
    height: 37px;
    margin-bottom: auto;
    margin-top: auto;
}

.hide:checked + .button_hidden_down + .nalog-question-text-hidden {
    display: block;
    padding: 20px;
	border-top: 2px solid;
	border-color: #034899;
	border-radius: 0 0 10px 10px;
    -webkit-border-radius: 0 0 10px 10px;
    -moz-border-radius: 0 0 10px 10px;
	background-color: #F2F5F7;
	z-index: 5;
}

.hide:checked + .button_hidden_down {
    transform: rotate(180deg);
}

.hide:checked + .nalog-question_article {
	border-radius: 10px 10px 0 0;
    -webkit-border-radius: 10px 10px 0 0;
    -moz-border-radius: 10px 10px 0 0;
}

.nalog-question-text-hidden {
	font-family: "Roboto Regular";
	color: #000000;
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 1px;
    line-height: 150%;
    position: relative;
    width: 100%;
}

.nalog-question-text_item {
	display: flex;
	flex-wrap: nowrap;
}

.icon_row {
	margin-right: 5px;
	margin-top: 2%;
    margin-bottom: auto;
}

.icon_alterra {
    margin-right: 5px;
    margin-top: 2%;
    margin-bottom: auto;
}

.item_text {
	margin: 0;
    width: 90%;
}

.aside_card {
    background-color: #f3f6f8;
    padding: 50px 50px 50px 90px;
    background-image: url(../images/card.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right center;
    margin-bottom: 120px;
    height: 220px;
    width: 70%;

    display: flex;
    flex-wrap: nowrap;
}

.aside_card-text {
    font-family: "Roboto Regular";
    color: #ffffff;
    font-size: 22px;
    font-weight: 400;
    letter-spacing: 1px;
    line-height: 150%;
    width: 50%;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 5%;
}

@media (min-width: 1201px) and (max-width: 1400px) {

    .nalog_row_content-text {
        width: 70%;
    }

    .nalog-top-section {
        padding: 40px 50px;
    }

    .nalog-explan_text {
        margin: 0 20%;
    }

    .icon_top {
        top: 710px;
    }

    .nalog-advantages__category {
        width: 47%;
    }

    .nalog-advantages__category-icon {
        margin-right: 30px;
    }

    .nalog-score_item {
        width: 400px;
        padding: 20px 80px 30px 35px;
    }

    .nalog-score_item:nth-child(2) {
        width: 400px;
        padding: 20px 80px 30px 35px;
    }

    .nalog-score_item_summ {
        margin: 0 0 20px;
    }

    .nalog-score_img {
        height: 355px;
    }

    .icon_down {
        top: 2190px;
    }

    .nalog-question_title {
        width: 40%;
    }

    .nalog-question-number {
        margin-top: 50px;
        margin-bottom: 50px;
    }

    .hide {
        display: none; 
    }

    .hide + .button_hidden_down ~ .nalog-question-text-hidden{
        display: none;
    }

    .hide + .button_hidden_down {
        margin-bottom: 20px;
        margin-top: auto;
    }

    .hide:checked + .button_hidden_down {
        transform: rotate(180deg);
    }

    .hide:checked + .nalog-question_article {
        border-radius: 10px 10px 0 0;
        -webkit-border-radius: 10px 10px 0 0;
        -moz-border-radius: 10px 10px 0 0;
    }

    .aside_card {
        height: 200px;
    }

    .aside_card-text {
        font-size: 20px;
    }
}

@media (min-width: 961px) and (max-width: 1200px) {

    .nalog_row_content-text {
        width: 60%;
    }

    .container {
        padding: 0 15px;
        box-sizing: border-box;
    }

    .nalog-top-section {
        padding: 30px 50px;
    }

    .nalog_row_content-title {
        font-size: 36px;
        margin: 20px 0 40px;
    }

    .nalog_row_content-text {
        font-size: 18px;
    }

    .nalog-explan {
        margin: 0 30px 90px;
    }

    .nalog-explan-block {
        padding: 70px 0;
    }

    .nalog-explan_text {
        font-size: 16px;
        margin: 0 15%;
    }

    .icon_top {
        top: 610px;
        width: 140px;
    }

    .nalog-advantages {
        padding: 0 50px;
        margin-bottom: 90px;
    }

    .nalog-section_title {
        font-size: 24px;
        width: 50%;
    }

    .nalog-advantages__category {
        margin-bottom: 30px;
    }

    .nalog-advantages__category-icon {
        margin-right: 30px;
        width: 50px;
        height: 50px;
    }

    .nalog-advantages__category-inform-name {
        font-size: 20px;
    }

    .nalog-advantages__category-inform-text {
        font-size: 16px;
    }

    .nalog-score {
        margin-bottom: 90px;
    }

    .nalog-score_items {
        margin-right: 20px;
    }
    

    .nalog-score_item {
        padding: 25px 50px 30px 30px;
        width: 400px;

    }

    .nalog-score_item_summ {
        font-size: 38px;
        margin: 0 0 25px;
    }

    .nalog-score_item_text {
        font-size: 16px;
    }

    .nalog-score_item:nth-child(2) {
        padding: 25px 50px 30px 30px;
        width: 400px;
    }

    .nalog-top-section {
        padding: 30px 50px;
        margin-bottom: 30px;
    }

    .nalog_row_content {
        max-width: 80%;
    }

    .nalog_row_content-title {
        font-size: 36px;
        margin: 20px 0 40px;
    }

    .nalog_row_content-text {
        font-size: 18px;
    }

    ..nalog-explan {
        margin: 0 20px 90px;
    }

    .nalog-explan-block {
        padding: 60px 0;
    }

    .nalog-explan_text {
        font-size: 16px;
        margin: 0 20%;
    }

    .icon_top {
        top: 580px;
        width: 140px;
    }

    .nalog-advantages {
        padding: 0 50px;
        margin-bottom: 90px;
    }

    .nalog-section_title {
        font-size: 24px;
        width: 45%;
        margin-bottom: 40px;
    }

    .nalog-advantages__category {
        margin-bottom: 30px;
    }

    .nalog-advantages__category-icon {
        margin-right: 30px;
        width: 50px;
        height: 50px;
    }

    .nalog-advantages__category-inform-name {
        font-size: 20px;
        margin: 0 0 15px;
    }

    .nalog-advantages__category-inform-text {
        font-size: 16px;
    }

    .nalog-score {
        margin-bottom: 90px;
    }

    .nalog-score_items {
        margin-right: 20px;
    }

    .nalog-score_item {
        padding: 25px 50px 30px 30px;
        width: 300px;
    }

    .nalog-score_item:nth-child(2) {
        padding: 25px 50px 30px 30px;
        width: 300px;
    }

    .nalog-score_item_summ {
        font-size: 38px;
        margin: 0 0 25px;
    }

    .nalog-score_item_text {
        font-size: 16px;
    }

    .nalog-score_img {
        height: 360px;
    }

    .nalog-actions-section {
        margin: 0 20px 90px;
    }

    .nalog-actions-section_block {
        padding: 60px 0;
    }

    .nalog-actions_title {
        font-size: 24px;
        width: 50%;
        margin: 0 1% 0 30px;
    }

    .nalog-actions {
        margin-right: 4%;
    }

    .nalog-actions_part-text {
        font-size: 16px;
        margin: 0 0 0 15px;
    }

    .icon_down {
        top: 1910px;
        width: 140px;
    }

    .nalog-question-section { 
        margin-bottom: 70px;
    }

    .nalog-question_title {
        font-size: 24px;
        margin-bottom: 40px;
        width: 50%;
    }

    .nalog-question-number {
        font-size: 18px;
        margin-right: 12px;
        margin-top: 35px;
        margin-bottom: 35px;
    }

    .nalog-question-text {
        font-size: 16px;
        width: 75%;
    }

    .hide + .button_hidden_down {
        margin-bottom: 10px;
        margin-top: auto;
    }

    .nalog-question-text-hidden {
        font-size: 16px;
    }

    .aside_card {
        padding: 50px 40px 40px 70px;
        height: 200px;
        width: 80%;
    }

    .aside_card-text {
        font-size: 20px;
        line-height: 130%;
        margin-left: 2%;
    }
}

@media (min-width: 641px) and (max-width: 960px) {

    .nalog_row_content-text {
        width: 60%;
    }

    .nalog-top-section {
        background-color: #f3f6f8;
        padding: 30px 40px;
        background-image: url(../images/house_960.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        margin-bottom: 30px;
    }

    .h1-title {
        font-size: 16px;
        margin: 0 0 15px;
    }

    .nalog_row_content {
        max-width: 85%;
    }

    .nalog_row_content-title {
        font-size: 32px;
        margin: 10px 0 30px;
    }

    .nalog_row_content-text {
        font-size: 16px;
        margin: 0 0 15px;
        letter-spacing: 0.5px;
    }

    .nalog-explan {
        margin: 0 15px 70px;
        border-radius: 5px;
    }

    .nalog-explan-block {
        padding: 40px 0;
    }

    .nalog-explan_text {
        font-size: 16px;
        margin: 0 15%;
        line-height: 140%;
    }

    .nalog-advantages {
        padding: 0 30px;
        margin-bottom: 40px;
    }

    .nalog-section_title {
        font-size: 22px;
        width: 60%;
        margin-bottom: 40px;
    }

    .nalog-advantages_categories {
        flex-direction: column;
    }

    .nalog-advantages__category {
        margin-bottom: 30px;
        width: 95%;
    }

    .nalog-advantages__category-icon {
        margin-right: 20px;
        width: 40px;
        height: 40px;
        margin-top: 5%;
    }

    .nalog-advantages__category-inform-name {
        font-size: 18px;
        line-height: 130%;
        margin: 0 0 10px;
    }

    .nalog-advantages__category-inform-text {
        font-size: 16px;
    }

    .nalog-score {
        margin-bottom: 70px;
        flex-wrap: wrap;
        padding-left: 30px;

        background-color: #f3f6f8;
        padding: 30px 30px;
        background-image: url(../images/pic__.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: left center;
        margin-bottom: 70px;
    }

    .nalog-score_items {
        flex-direction: row;
        margin-right: 0;
        justify-content: space-between;
    }

    .nalog-score_item {
        padding: 15px 40px 20px 25px;
        margin-bottom: 140px;
        width: 35%;
    }

    .icon_row {
        margin-top: 1%;
    }

    .nalog-score_item:nth-child(2) {
        width: 40%;
        padding: 15px 25px 20px 40px;
        margin-top: 120px;
    }

    .nalog-score_item_summ {
        font-size: 34px;
        margin: 0 0 20px;
    }

    .nalog-score_item_text {
        font-size: 16px;
    }

    .nalog-score_img {
        display: none;
    }

    .nalog-actions-section {
        margin: 0 15px 70px;
        border-radius: 5px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
    }

    .nalog-actions-section_block {
        padding: 40px 30px;
        flex-wrap: wrap;
    }

    .nalog-actions_title {
        font-size: 22px;
        width: 100%;
        margin: 0 0 40px 0;
    }

    .nalog-actions {
        margin: 0;
        width: 95%;
    }

    .nalog-actions_part-text {
        font-size: 16px;
        line-height: 130%;
        margin: 0 0 0 20px;
        margin-top: 1%;
    }

    .nalog-question-section {
        padding: 0 30px;
        margin-bottom: 50px;
    }

    .nalog-question_title {
        width: 60%;
        font-size: 22px;
        margin: 0 0 40px 0;
    }

    .nalog-question_blocks {
        flex-direction: column;
    }

    .nalog-question_block {
        width: 100%;
    }

    .nalog-question_article {
        padding: 0;
        position: relative;
    }

    .nalog-question-number {
        font-size: 16px;
        margin: 20px 15px;
    }

    .nalog-question-text {
        font-size: 16px;
        line-height: 130%;
        width: 80%;
    }

    .button_hidden {
        width: 30px;
        height: 30px;
    }

    .hide + .button_hidden_down {
        height: 30px;
        margin-right: 15px;
        margin-left: auto;
    }

    .hide:checked + .button_hidden_down + .nalog-question-text-hidden {
        padding: 15px;
        margin-top: 10px;
    }

    .nalog-question-text-hidden {
        font-size: 16px;
    }

    .aside_card {
        padding: 30px;
        margin-bottom: 70px;
        position: relative;
        width: 90%;
    }

    .aside_card-text {
        font-size: 18px;
        line-height: 130%;
    }

    .aside_card-pic {
        width: 380px;
        margin-top: 40px;
        height: 200px;
    }
}

@media (min-width: 831px) and (max-width: 960px) {

    .icon_top {
        right: 3%;
        top: 470px;
        width: 110px;
    }

    .icon_down {
        right: 3%;
        top: 1850px;
        width: 120px;
    }
}

@media (min-width: 641px) and (max-width: 831px) {

    .icon_top {
        right: 3%;
        top: 500px;
        width: 110px;
    }

    .icon_down {
        right: 3%;
        top: 1950px;
        width: 120px;
    }
}

@media (max-width: 640px) {

    .h1-title {
        font-size: 16px;
    }

    .nalog-top-section {
        background-color: #f3f6f8;
        padding: 0;
        margin-bottom: 30px;
    }

    .nalog_row {
        background: rgba(0, 0, 0, 0.6);
        padding: 20px;
    }

    .nalog_row_content {
        max-width: 100%;
    }

    .nalog_row_content-title {
        font-size: 24px;
        margin: 10px 0 30px;
        color: white;
    }

    .nalog_row_content-text {
        font-size: 16px;
        line-height: 120%;
        margin: 0 0 15px;
        width: 100%;
        color: white;
    }

    .nalog-explan {
        margin: 0 0 50px;
        border-radius: 5px;
    }

    .nalog-explan-block {
        padding: 20px;
    }

    .nalog-explan_text {
        font-size: 16px;
        line-height: 130%;
        margin-top: auto;
        margin-bottom: auto;
        margin-right: 0;
        margin-left: 0;
    }

    .nalog-advantages {
        padding: 0 20px;
        margin-bottom: 30px;
    }

    .nalog-section_title {
        font-size: 20px;
        width: 100%;
        margin: 10px 0 30px;
    }

    .nalog-advantages_categories {
        flex-direction: column;
    }

    .nalog-advantages__category {
        margin-bottom: 20px;
        width: 100%;
    }

    .nalog-advantages__category-icon {
        margin-right: 20px;
        width: 40px;
        height: 40px;
        margin-top: 10%;
    }

    .nalog-advantages__category-inform-name {
        font-size: 18px;
        margin: 0 0 10px;
    }

    .nalog-advantages__category-inform-text {
        font-size: 16px;
        line-height: 130%;
    }

    .nalog-score {
        padding: 0 20px;
        margin-bottom: 50px;
        flex-direction: column;
        flex-wrap: nowrap;
    }

    .nalog-score_items {
        margin-right: 0;
    }

    .nalog-score_item {
        padding: 20px 40px 30px 20px;
        margin-bottom: 20px;
        width: inherit;
    }

    .icon_row {
        margin-top: 3%;
    }

    .nalog-score_item:nth-child(2) {
        padding: 20px 20px 30px 40px;
        margin-bottom: 20px;
        width: inherit;
    }

    .nalog-score_item_summ {
        font-size: 30px;
        margin: 0 0 20px;
    }

    .nalog-score_item_text {
        font-size: 16px
    }

    .nalog-score_img {
        display: inline;
        width: 100%;
    }

    .nalog-actions-section {
        margin: 0 0 50px;
        border-radius: 5px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
    }

    .nalog-actions-section_block {
        padding: 30px 20px;
        flex-wrap: wrap;
    }

    .nalog-actions_title {
        font-size: 20px;
        width: 100%;
        margin: 0 0 30px 0;
    }

    .nalog-actions {
        margin: 0;
        width: 100%;
    }

    .nalog-actions_part-text {
        font-size: 16px;
        line-height: 130%;
        margin: 5px 0 0 15px;
        width: 80%;
    }

    .nalog-question-section {
        padding: 0 20px;
        margin-bottom: 30px;
    }

    .nalog-question_title {
        width: 100%;
        font-size: 20px;
        margin: 0 0 30px 0;
    }

    .nalog-question_blocks {
        flex-direction: column;
    }

    .nalog-question_block {
        width: 100%;
    }

    .nalog-question_article {
        padding: 0;
        position: relative;
    }

    .nalog-question-number {
        font-size: 16px;
    }

    .nalog-question-text {
        font-size: 16px;
        line-height: 130%;
        width: 65%;
    }

    .button_hidden {
        width: 32px;
        height: 32px;
    }

    .hide + .button_hidden_down {
        height: 30px;
        margin-right: 10px;
        margin-left: auto;
    }

    .hide:checked + .button_hidden_down + .nalog-question-text-hidden {
        padding: 15px;
        margin-top: 10px;
    }

    .nalog-question-text-hidden {
        font-size: 16px;
    }

    .aside_card {
        padding: 20px 30px 20px 20px;
        margin-bottom: 50px;
        position: relative;
        width: auto;
        flex-direction: column-reverse;
    }

    .aside_card-text {
        font-size: 16px;
        line-height: 120%;
        margin-left: 0;
        width: 100%;
        margin-top: 0;
        margin-bottom: auto;
    }

    .aside_card-pic {
        width: 260px;
        position: absolute;
        height: 120px;
    }

    .icon_top {
        display: none;
    }

    .icon_down {
        display: none;
    }
}

@media (max-width: 340px) {

    .h1-title {
        font-size: 16px;
    }

    .nalog-top-section {
        background-color: #f3f6f8;
        padding: 0;
        margin-bottom: 30px;
    }

    .nalog_row {
        background: rgba(0, 0, 0, 0.6);
        padding: 20px;
    }

    .nalog_row_content {
        max-width: 100%;
    }

    .nalog_row_content-title {
        font-size: 24px;
        margin: 10px 0 30px;
    }

    .nalog_row_content-text {
        font-size: 16px;
        line-height: 120%;
        margin: 0 0 15px;
        width: 100%;
    }

    .nalog-explan {
        margin: 0 0 50px;
        border-radius: 5px;
    }

    .nalog-explan-block {
        padding: 50px 20px;
    }

    .nalog-explan_text {
        font-size: 16px;
        line-height: 130%;
        margin-top: auto;
        margin-bottom: auto;
        margin-right: 0;
        margin-left: 0;
    }

    .nalog-advantages {
        padding: 0 20px;
        margin-bottom: 30px;
    }

    .nalog-section_title {
        font-size: 20px;
        width: 100%;
        margin: 10px 0 30px;
    }

    .nalog-advantages_categories {
        flex-direction: column;
    }

    .nalog-advantages__category {
        margin-bottom: 20px;
        width: 100%;
    }

    .nalog-advantages__category-icon {
        margin-right: 20px;
        width: 40px;
        height: 40px;
        margin-top: 10%;
    }

    .nalog-advantages__category-inform-name {
        font-size: 18px;
        margin: 0 0 10px;
    }

    .nalog-advantages__category-inform-text {
        font-size: 16px;
        line-height: 130%;
    }

    .nalog-score {
        padding: 0 20px;
        margin-bottom: 50px;
        flex-direction: column;
        flex-wrap: nowrap;
    }

    .nalog-score_items {
        margin-right: 0;
    }

    .nalog-score_item {
        padding: 20px 40px 30px 20px;
        margin-bottom: 20px;
        width: inherit;
    }

    .icon_row {
        margin-top: 3%;
    }

    .nalog-score_item:nth-child(2) {
        padding: 20px 20px 30px 40px;
        margin-bottom: 20px;
        width: inherit;
    }

    .nalog-score_item_summ {
        font-size: 30px;
        margin: 0 0 20px;
    }

    .nalog-score_item_text {
        font-size: 16px
    }

    .nalog-score_img {
        display: inline;
        width: 100%;
    }

    .nalog-actions-section {
        margin: 0 0 50px;
        border-radius: 5px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
    }

    .nalog-actions-section_block {
        padding: 50px 30px;
        flex-wrap: wrap;
    }

    .nalog-actions_title {
        font-size: 20px;
        width: 100%;
        margin: 0 0 30px 0;
    }

    .nalog-actions {
        margin: 0;
        width: 100%;
    }

    .nalog-actions_part-text {
        font-size: 16px;
        line-height: 130%;
        margin: 5px 0 0 15px;
        width: 80%;
    }

    .nalog-question-section {
        padding: 0 20px;
        margin-bottom: 30px;
    }

    .nalog-question_title {
        width: 100%;
        font-size: 20px;
        margin: 0 0 30px 0;
    }

    .nalog-question_blocks {
        flex-direction: column;
    }

    .nalog-question_block {
        width: 100%;
    }

    .nalog-question_article {
        padding: 0;
        position: relative;
    }

    .nalog-question-number {
        font-size: 16px;
    }

    .nalog-question-text {
        font-size: 16px;
        line-height: 130%;
        width: 60%;
    }

    .button_hidden {
        width: 32px;
        height: 32px;
    }

    .hide + .button_hidden_down {
        height: 30px;
        margin-right: 10px;
        margin-left: auto;
        margin-bottom: 20px;
    }

    .hide:checked + .button_hidden_down + .nalog-question-text-hidden {
        padding: 15px;
        margin-top: 10px;
    }

    .nalog-question-text-hidden {
        font-size: 16px;
    }

    .aside_card {
        padding: 20px 30px 20px 20px;
        margin-bottom: 50px;
        position: relative;
        width: auto;
        flex-direction: column-reverse;
    }

    .aside_card-text {
        font-size: 16px;
        line-height: 120%;
        margin-left: 0;
        width: 100%;
        margin-top: 0;
        margin-bottom: auto;
    }

    .aside_card-pic {
        width: 260px;
        position: absolute;
        height: 100px;
    }

    .icon_top {
        display: none;
    }

    .icon_down {
        display: none;
    }
}